<div id="remix-widget-container" style="position: fixed; bottom: 0; right: 0">
</div>
<script src="https://rpm-travel-designed-kai.trycloudflare.com/remix-widget.js"></script>

{% schema %}
{
  "name": "Custom Remix Block",
  "target": "body",
  "settings": []
}
{% endschema %}
