<div class="custom-remix-widget">
  <div id="remix-widget-container">Loading...</div>
  <script src="https://5a91-106-215-148-73.ngrok-free.app/remix-widget.js"></script>
</div>

{% schema %}
{
  "name": "Custom Remix Block",
  "target": "section",
  "settings": []
}
{% endschema %}
